image: docker:latest

services:
- docker:dind

stages:
  - build
  - test

test:
  stage: test

  script:
    - apk add --update py-pip
    - pip install pipenv
    - pipenv install --dev --system
    - python -m flake8
    - ls /root/.cache/


build-master:
  stage: build

  script:
    - docker build --rm -f "Dockerfile" -t sharpbot-facebook:latest .
