[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
fbchat = "*"
wikipedia = "*"
urllib3 = ">=1.24.2"
urbandictionary = "*"
fuzzywuzzy = "*"

[requires]
python_version = "3.6"
